<div  class="container">

    <h2>Create Page</h2>
    <div class="form-group">

        <div class="col-md-5">
            <input type="text" class="form-control" required placeholder="Shop Name:" name="shopname"><br/>
   
            <input type="text" class="form-control" required placeholder="Product Name:" name="productname"><br/>
  
    <textarea class="form-control" placeholder="Address:" name="address" rows="2" cols="5" ></textarea><br/>
        <textarea class="form-control" placeholder="Description:" name="description" rows="10" cols="20" ></textarea><br/>
        <input type="file" class="form-control" required placeholder="Images:" name="images" title="Please choose an Image:"><br/>
       <div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="submit" class="btn btn-default">Cancel</button>
       </div>
</div>


  
<div class="container"> 
    </div>
</div>