<div class="login-page">
  <div class="row">
    <div class="col-lg-12">
      <div class="ui-g">
        <div class="ui-g-4">
          <h3>Basic Plan</h3>
          <p>Price 2900 JPY</p>
<div>
          <li>CMS
            <li>Email Newsletter - 200 emails
                 <li> Royalty Points Card function
              </div>
              <br/>
              <!--<button type="submit" class="btn btn-primary">Subscribe</button>-->
              <button class="btn btn-primary" (click)="openCheckout2900()">Subscribe</button>
        </div>
        <div class="ui-g-4">
          <h3>Medium Plan</h3>
          <p>Price 4900 JPY</p>
<div>
          <li>CMS
            <li>Email Newsletter -500 emails
                 <li> Royalty Points Card function
              </div>
              <br/>
              <!--<button type="submit" class="btn btn-primary">Subscribe</button>-->
              <button class="btn btn-primary" (click)="openCheckout4900()">Subscribe</button>
        </div>
          <div class="ui-g-4">
          <h3>Advance Plan</h3>
          <p>Price 5900 JPY</p>
<div>
          <li>CMS
            <li>Email Newsletter - 1000 emails
                 <li> Royalty Points Card function
              </div>
              <br/>
              <!--<button type="submit" class="btn btn-primary">Subscribe</button>-->
               <button class="btn btn-primary" (click)="openCheckout5900()">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>